.main-content {
  padding: 20px;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.card h2 {
  margin-top: 0;
}

.language-buttons {
  display: flex;
  gap: 10px;
}

.language-container {
  position: relative;
  flex: 1;
}

.language-buttons button {
  width: 100%;
  margin-right: 20px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.language-buttons .english {
  background-color: #f44336; /* Red */
}

.language-buttons .french {
  background-color: #2196F3; /* Blue */
}

.language-buttons button:hover {
  opacity: 0.9;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: inherit; 
}

#english-dropdown {
  background-color: #f44336; 
}

#french-dropdown {
  background-color: #2196F3; 
}

.lesson-choice {
  padding: 10px 20px;
  color: white; 
  background-color: transparent; 
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bolder;
}

.lesson-choice:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px;
}
