body {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  
}


.header {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin: 0; 
}

.app-container {
  display: flex;
  min-height: 100vh; 
  margin-top: 60px; 
  
}

.sidebar {
  width: 300px;
  background-color: #333;
  color: white;
  height: calc(100vh - 60px);
  position: fixed;
  padding-top: 20px;
}

.sidebar .profile {
  display: flex;
  align-items: center;
  padding: 10px 0;
  
}

.sidebar .profile img {
  margin-top: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.sidebar .profile span {
  margin-top: 50px;
  border-radius: 50%;
  margin-left: 20px;
  font-weight: bold;
}

.sidebar h2 {
  text-decoration: none;
  color: white;
  background-color: #333;
  cursor: pointer;
  font-size: 25px;
  margin-left:10px;

}

.sidebar h2:hover {
  background-color: #575757;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  padding-top: 60px; 
  background-color: #fff;
}

.content {
  padding: 20px;
  background-color: #fff;
  height: 100%;
}

.card {
  width: 100%;
  position: fixed;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}

.card h3 {
  margin-top: 20px;
  font-weight: 600;
}

.card table {
  width: 80%;
  border-collapse: collapse;
}

.card table,
.card th,
.card td {
  border: 1px solid #ddd;
}

.card th,
.card td {
  padding: 8px;
  text-align: left;
}

.card th {
  background-color: #f2f2f2;
}


.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.edit-btn {
  background-color: #4caf50;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #f44336;
}

.delete-btn:hover {
  background-color: #e53935;
}

.users {
  background-color: #4caf50;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}

.users:hover {
  background-color: #45a049;
} 