.main-content {
  padding: 20px;
  height: 100vh;
 }

.card h2 {
  margin-top: 0;
}

.language-buttons {
 width: 100%;  
  display: flex;
  gap: 10px;
}

.language-container {
  margin-right: 50px;
  width: 80%;
  position: relative;
  flex: 1;
}

.language-buttons button {
  width: 100%;
  margin-right: 20px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.language-buttons .english {
  background-color: #e93427; 
}

.language-buttons .french {
  background-color: #0c77ce; 
}

.language-buttons button:hover {
  opacity: 0.9;
  
}

.dropdown {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: inherit; 
}

#english-dropdown {
  background-color: #f44336; 
}

#french-dropdown {
  background-color: #2196F3; 
}

.lesson-choice {
  padding: 10px 20px;
  color: white; 
  background-color: transparent; 
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bolder;
}

.lesson-choice:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.language-Box{
  position: fixed;
  width: 60%;
  background-color: white;
  padding: 25px; 
  padding-bottom: 2%;  
  box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

